<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ms.android.finalProject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FindYourSelfActivity"></activity>
        <activity android:name=".findLoc"></activity>
        <activity android:name=".myItemOverlay"></activity>
        <activity android:name=".emailit"></activity>
        <activity android:name=".smsit" android:screenOrientation="portrait"></activity>
        <activity android:name=".calcDistance"></activity>
        <activity android:name=".SearchHotel"></activity>
        <activity android:name=".selectCityHotel"></activity>
        <activity android:name=".ContactAccessor"></activity>
        <activity android:name=".ContactInfo"></activity>
        
        <activity android:name="ms.android.fyp.friendsfinder.FFMainActivity"></activity>
    </application>

</manifest>